@import "_variables";

$mainColor: cyan;

@font-face {
  font-family: 'painter';
  src: url('../fonts/Painter.ttf'); /* IE9 Compat Modes */
  
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}

html{

background: rgba(74,95,157,1);
background: -moz-linear-gradient(top, rgba(74,95,157,1) 0%, rgba(32,47,97,1) 32%, rgba(47,94,140,1) 59%, rgba(71,158,195,1) 85%, rgba(173,185,203,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,95,157,1)), color-stop(32%, rgba(32,47,97,1)), color-stop(59%, rgba(47,94,140,1)), color-stop(85%, rgba(71,158,195,1)), color-stop(100%, rgba(173,185,203,1)));
background: -webkit-linear-gradient(top, rgba(74,95,157,1) 0%, rgba(32,47,97,1) 32%, rgba(47,94,140,1) 59%, rgba(71,158,195,1) 85%, rgba(173,185,203,1) 100%);
background: -o-linear-gradient(top, rgba(74,95,157,1) 0%, rgba(32,47,97,1) 32%, rgba(47,94,140,1) 59%, rgba(71,158,195,1) 85%, rgba(173,185,203,1) 100%);
background: -ms-linear-gradient(top, rgba(74,95,157,1) 0%, rgba(32,47,97,1) 32%, rgba(47,94,140,1) 59%, rgba(71,158,195,1) 85%, rgba(173,185,203,1) 100%);
background: linear-gradient(to bottom, rgba(74,95,157,1) 0%, rgba(32,47,97,1) 32%, rgba(47,94,140,1) 59%, rgba(71,158,195,1) 85%, rgba(173,185,203,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a5f9d', endColorstr='#adb9cb', GradientType=0 );
background-repeat: no-repeat;
background-attachment: fixed;
min-width:600px;


}

body{
	position:absolute;
	z-index:99;
	background: url("../img/wdots.png");
	background-size: 40px 40px;
	width:99%;
	height:98.8%;
	margin-right:10px !important;
}

#mainImg{
	border:5pt double  $darkblue;
}

.publicityWrap{
	border:2pt solid $darkblue;
} 

#mainImg:after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: red;
  z-index: -1;
}

.row{
	display:flex;
	flex-flow: 'row' 'wrap';
}

.logo{
	width:200px;
	height:50px;
	position:absolute;
	background:white;
	border:1pt solid black;
	display:block;
	margin: 0 auto;
	font-family: 'painter';
	text-align:center;
	font-size:40px;
	font-weight: bold;
  -webkit-box-shadow: 0 15px 10px #000;
  -moz-box-shadow: 0 15px 10px #000;
  box-shadow: 0 15px 10px #000;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

h1, h2, h3, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.cartel{
	flex:4;
	margin:10px;
}



.card{
	margin-top:20px;
	margin-right:20px;
	min-height:200px;
	min-width:200px;
	flex:1;
	border:3pt solid $darkblue;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}



.publicity{
	flex:1;
	margin:10px auto;
	padding:5px;

}
.description{
	flex:1;
	min-height:100%;
	margin:10px;
	padding:5px;

}

.a{
	border-top-left-radius: 20px;
}

.b{
	border-top-right-radius: 20px;
}

section{
	
	background:white;
	width:90%;
	margin-bottom:40px;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
    background:#FFF;
    margin:40px auto;
    padding:20px;

}


.video-container{
	border-top-left-radius: 20px;
	overflow:hidden;
	width:70%;
}

.video-description{
	width:30%;
	position:relative;
    float: left;
}

.main{
	padding:20px;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #000;
  -webkit-box-shadow: 0 15px 10px #000;
  -moz-box-shadow: 0 15px 10px #000;
  box-shadow: 0 15px 10px #000;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

body {
  margin: 40px 0;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  background-color: #BCAAA4;
  -webkit-font-smoothing: antialiased;
}

.title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

p {
  line-height: 1.5em;
}

h1+p, p+p {
  margin-top: 10px;
}

.container {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
  // background-color: #fff;
  
  &:hover {
    .card-info {
      transform: translateY(0);
    }
    .card-info p {
      opacity: 1;
    }
    .card-info, .card-info p {
      transition: 0.6s $hoverEasing;
    }
    .card-info:after {
      transition: 5s $hoverEasing;
      opacity: 1;
      transform: translateY(0);
    }
    .card-bg {
      transition: 
        0.6s $hoverEasing,
        opacity 5s $hoverEasing;
      opacity: 0.8;
    }
    .card {
      transition:
        0.6s $hoverEasing,
        box-shadow 2s $hoverEasing;
      box-shadow:
        rgba(white, 0.2) 0 0 40px 5px,
        rgba(white, 1) 0 0 0 1px,
        rgba(black, 0.66) 0 30px 60px 0,
        inset #333 0 0 0 5px,
        inset white 0 0 0 6px;
    }
  }
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 240px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    rgba(black, 0.66) 0 30px 60px 0,
    inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
  transition: 1s $returnEasing;
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px; left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:
    1s $returnEasing,
    opacity 5s 1s $returnEasing;
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  
  p {
    opacity: 0;
    text-shadow: rgba(black, 1) 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  * {
    position: relative;
    z-index: 1;
  }
  
  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s $returnEasing;
  }
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(black, 0.5) 0 10px 10px;
}